body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.buffer{
  height: 5em;
}
 h1{
  color: white;
  font-size: 3em;
 }

h1{
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 7s steps(60, end); 
}

@keyframes type{ 
  from { width: 0; } 
} 

.btn-xl{
  padding: 12px 24px;
  border-radius: 300px;
}

.btn-primary{
  background-color: #F05F44;
  border-color: #F05F44;
}

.btn-primary:hover{
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 2px;
}
